<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title></title>

     
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>


 
    <div class="container">

            

          <i class="fa fa-medkit" style="font-size:48px;color:green">HEALTHCARE</i>

  


    {{{body}}}
</div>

</body>
</html>

