

<h3>Delivery Status</h3>

<p>Have You Recieved Your Package ?</p>

<form action="/summary/{{code}}">
<button type="submit">delivered </button>
</form>
<br>

<a href="inconvinience">
<button>not delivered</button>
</a>




