 {{!-- <h1>Message</h1>


<table>



    <th>Patient Name</th>
    <br>
    <th>Arrival Time</th>



</table> --}}


    <h1>Message</h1>
        

    <p>Sorry for the inconvinience, there has been a delay in delivering your medication due to covid-19 but we promise your package will be delivered within the next five day.
</p>

       <h4> Our Apologies</h4>
    
    
