<h2>Delivery Summary</h2> 


<h4>Contents</h4>
{{prescription.items}}



<div>
    
   {{#each items}}
  <input type="checkbox" name="{{this}}" id="{{this}}">{{this}}
{{/each}}

</div>

<h3>feedback</h3>

<div>
    <br>
<input type="radio" name="feedback" >   All Good  
    <br>
   <input type="radio" name="feedback" >   Missing Content 
    <br>
</div>



<h5>Customer Report</h5>

<div>
    <input type="textbox" name="customer report" id="textboxid">
</div>
<br>


<a href="/thanks">  
    <button type="" > Done</button>

</a>


