<h1>Thank You</h1>
<div class="col-4 m-5">
    <h1>Stats Of Deliveries</h1>

    <canvas id="myPieChart1" width="200" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">

    <script>

        var ctx = document.getElementById('myPieChart1').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["delivered", "undelivered", "missing_content"],
                datasets: [{
                    label: "Stats of the delivery service ",
                    data: [210, 90, 120],
                    backgroundColor: [
                         'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgb(0, 255, 0)'
                        
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                        
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</div>